@font-face {
  font-family: 'entypo';
  src: url("../font/entypo.eot");
  src: url("../font/entypo.eot?#iefix") format('embedded-opentype'), url("../font/entypo.woff") format('woff'), url("../font/entypo.ttf") format('truetype'), url("../font/entypo.svg#entypo") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="entypo-icon-"]:before,
[class*=" entypo-icon-"]:before {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

.entypo-icon-note:before { content: '\266a'; } /* '♪' */
.entypo-icon-note-beamed:before { content: '\266b'; } /* '♫' */
.entypo-icon-music:before { content: '🎵'; } /* '\1f3b5' */
.entypo-icon-search:before { content: '🔍'; } /* '\1f50d' */
.entypo-icon-flashlight:before { content: '🔦'; } /* '\1f526' */
.entypo-icon-mail:before { content: '\2709'; } /* '✉' */
.entypo-icon-heart:before { content: '\2665'; } /* '♥' */
.entypo-icon-heart-empty:before { content: '\2661'; } /* '♡' */
.entypo-icon-star:before { content: '\2605'; } /* '★' */
.entypo-icon-star-empty:before { content: '\2606'; } /* '☆' */
.entypo-icon-user:before { content: '👤'; } /* '\1f464' */
.entypo-icon-users:before { content: '👥'; } /* '\1f465' */
.entypo-icon-user-add:before { content: '\e700'; } /* '' */
.entypo-icon-video:before { content: '🎬'; } /* '\1f3ac' */
.entypo-icon-picture:before { content: '🌄'; } /* '\1f304' */
.entypo-icon-camera:before { content: '📷'; } /* '\1f4f7' */
.entypo-icon-layout:before { content: '\268f'; } /* '⚏' */
.entypo-icon-menu:before { content: '\2630'; } /* '☰' */
.entypo-icon-check:before { content: '\2713'; } /* '✓' */
.entypo-icon-cancel:before { content: '\2715'; } /* '✕' */
.entypo-icon-cancel-circled:before { content: '\2716'; } /* '✖' */
.entypo-icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.entypo-icon-plus:before { content: '\2b'; } /* '+' */
.entypo-icon-plus-circled:before { content: '\2795'; } /* '➕' */
.entypo-icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.entypo-icon-minus:before { content: '\2d'; } /* '-' */
.entypo-icon-minus-circled:before { content: '\2796'; } /* '➖' */
.entypo-icon-minus-squared:before { content: '\229f'; } /* '⊟' */
.entypo-icon-help:before { content: '\2753'; } /* '❓' */
.entypo-icon-help-circled:before { content: '\e704'; } /* '' */
.entypo-icon-info:before { content: '\2139'; } /* 'ℹ' */
.entypo-icon-info-circled:before { content: '\e705'; } /* '' */
.entypo-icon-back:before { content: '🔙'; } /* '\1f519' */
.entypo-icon-home:before { content: '\2302'; } /* '⌂' */
.entypo-icon-link:before { content: '🔗'; } /* '\1f517' */
.entypo-icon-attach:before { content: '📎'; } /* '\1f4ce' */
.entypo-icon-lock:before { content: '🔒'; } /* '\1f512' */
.entypo-icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.entypo-icon-eye:before { content: '\e70a'; } /* '' */
.entypo-icon-tag:before { content: '\e70c'; } /* '' */
.entypo-icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.entypo-icon-bookmarks:before { content: '📑'; } /* '\1f4d1' */
.entypo-icon-flag:before { content: '\2691'; } /* '⚑' */
.entypo-icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.entypo-icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.entypo-icon-download:before { content: '📥'; } /* '\1f4e5' */
.entypo-icon-upload:before { content: '📤'; } /* '\1f4e4' */
.entypo-icon-upload-cloud:before { content: '\e711'; } /* '' */
.entypo-icon-reply:before { content: '\e712'; } /* '' */
.entypo-icon-reply-all:before { content: '\e713'; } /* '' */
.entypo-icon-forward:before { content: '\27a6'; } /* '➦' */
.entypo-icon-quote:before { content: '\275e'; } /* '❞' */
.entypo-icon-code:before { content: '\e714'; } /* '' */
.entypo-icon-export:before { content: '\e715'; } /* '' */
.entypo-icon-pencil:before { content: '\270e'; } /* '✎' */
.entypo-icon-feather:before { content: '\2712'; } /* '✒' */
.entypo-icon-print:before { content: '\e716'; } /* '' */
.entypo-icon-retweet:before { content: '\e717'; } /* '' */
.entypo-icon-keyboard:before { content: '\2328'; } /* '⌨' */
.entypo-icon-comment:before { content: '\e718'; } /* '' */
.entypo-icon-chat:before { content: '\e720'; } /* '' */
.entypo-icon-bell:before { content: '🔔'; } /* '\1f514' */
.entypo-icon-attention:before { content: '\26a0'; } /* '⚠' */
.entypo-icon-alert:before { content: '💥'; } /* '\1f4a5' */
.entypo-icon-vcard:before { content: '\e722'; } /* '' */
.entypo-icon-address:before { content: '\e723'; } /* '' */
.entypo-icon-location:before { content: '\e724'; } /* '' */
.entypo-icon-map:before { content: '\e727'; } /* '' */
.entypo-icon-direction:before { content: '\27a2'; } /* '➢' */
.entypo-icon-compass:before { content: '\e728'; } /* '' */
.entypo-icon-cup:before { content: '\2615'; } /* '☕' */
.entypo-icon-trash:before { content: '\e729'; } /* '' */
.entypo-icon-doc:before { content: '\e730'; } /* '' */
.entypo-icon-docs:before { content: '\e736'; } /* '' */
.entypo-icon-doc-landscape:before { content: '\e737'; } /* '' */
.entypo-icon-doc-text:before { content: '📄'; } /* '\1f4c4' */
.entypo-icon-doc-text-inv:before { content: '\e731'; } /* '' */
.entypo-icon-newspaper:before { content: '📰'; } /* '\1f4f0' */
.entypo-icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.entypo-icon-book:before { content: '📕'; } /* '\1f4d5' */
.entypo-icon-folder:before { content: '📁'; } /* '\1f4c1' */
.entypo-icon-archive:before { content: '\e738'; } /* '' */
.entypo-icon-box:before { content: '📦'; } /* '\1f4e6' */
.entypo-icon-rss:before { content: '\e73a'; } /* '' */
.entypo-icon-phone:before { content: '📞'; } /* '\1f4de' */
.entypo-icon-cog:before { content: '\2699'; } /* '⚙' */
.entypo-icon-tools:before { content: '\2692'; } /* '⚒' */
.entypo-icon-share:before { content: '\e73c'; } /* '' */
.entypo-icon-shareable:before { content: '\e73e'; } /* '' */
.entypo-icon-basket:before { content: '\e73d'; } /* '' */
.entypo-icon-bag:before { content: '👜'; } /* '\1f45c' */
.entypo-icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.entypo-icon-login:before { content: '\e740'; } /* '' */
.entypo-icon-logout:before { content: '\e741'; } /* '' */
.entypo-icon-mic:before { content: '🎤'; } /* '\1f3a4' */
.entypo-icon-mute:before { content: '🔇'; } /* '\1f507' */
.entypo-icon-sound:before { content: '🔊'; } /* '\1f50a' */
.entypo-icon-volume:before { content: '\e742'; } /* '' */
.entypo-icon-clock:before { content: '🕔'; } /* '\1f554' */
.entypo-icon-hourglass:before { content: '\23f3'; } /* '⏳' */
.entypo-icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.entypo-icon-light-down:before { content: '🔅'; } /* '\1f505' */
.entypo-icon-light-up:before { content: '🔆'; } /* '\1f506' */
.entypo-icon-adjust:before { content: '\25d1'; } /* '◑' */
.entypo-icon-block:before { content: '🚫'; } /* '\1f6ab' */
.entypo-icon-resize-full:before { content: '\e744'; } /* '' */
.entypo-icon-resize-small:before { content: '\e746'; } /* '' */
.entypo-icon-popup:before { content: '\e74c'; } /* '' */
.entypo-icon-publish:before { content: '\e74d'; } /* '' */
.entypo-icon-window:before { content: '\e74e'; } /* '' */
.entypo-icon-arrow-combo:before { content: '\e74f'; } /* '' */
.entypo-icon-down-circled:before { content: '\e758'; } /* '' */
.entypo-icon-left-circled:before { content: '\e759'; } /* '' */
.entypo-icon-right-circled:before { content: '\e75a'; } /* '' */
.entypo-icon-up-circled:before { content: '\e75b'; } /* '' */
.entypo-icon-down-open:before { content: '\e75c'; } /* '' */
.entypo-icon-left-open:before { content: '\e75d'; } /* '' */
.entypo-icon-right-open:before { content: '\e75e'; } /* '' */
.entypo-icon-up-open:before { content: '\e75f'; } /* '' */
.entypo-icon-down-open-mini:before { content: '\e760'; } /* '' */
.entypo-icon-left-open-mini:before { content: '\e761'; } /* '' */
.entypo-icon-right-open-mini:before { content: '\e762'; } /* '' */
.entypo-icon-up-open-mini:before { content: '\e763'; } /* '' */
.entypo-icon-down-open-big:before { content: '\e764'; } /* '' */
.entypo-icon-left-open-big:before { content: '\e765'; } /* '' */
.entypo-icon-right-open-big:before { content: '\e766'; } /* '' */
.entypo-icon-up-open-big:before { content: '\e767'; } /* '' */
.entypo-icon-down:before { content: '\2b07'; } /* '⬇' */
.entypo-icon-left:before { content: '\2b05'; } /* '⬅' */
.entypo-icon-right:before { content: '\27a1'; } /* '➡' */
.entypo-icon-up:before { content: '\2b06'; } /* '⬆' */
.entypo-icon-down-dir:before { content: '\25be'; } /* '▾' */
.entypo-icon-left-dir:before { content: '\25c2'; } /* '◂' */
.entypo-icon-right-dir:before { content: '\25b8'; } /* '▸' */
.entypo-icon-up-dir:before { content: '\25b4'; } /* '▴' */
.entypo-icon-down-bold:before { content: '\e4b0'; } /* '' */
.entypo-icon-left-bold:before { content: '\e4ad'; } /* '' */
.entypo-icon-right-bold:before { content: '\e4ae'; } /* '' */
.entypo-icon-up-bold:before { content: '\e4af'; } /* '' */
.entypo-icon-down-thin:before { content: '\2193'; } /* '↓' */
.entypo-icon-left-thin:before { content: '\2190'; } /* '←' */
.entypo-icon-right-thin:before { content: '\2192'; } /* '→' */
.entypo-icon-up-thin:before { content: '\2191'; } /* '↑' */
.entypo-icon-ccw:before { content: '\27f2'; } /* '⟲' */
.entypo-icon-cw:before { content: '\27f3'; } /* '⟳' */
.entypo-icon-arrows-ccw:before { content: '🔄'; } /* '\1f504' */
.entypo-icon-level-down:before { content: '\21b3'; } /* '↳' */
.entypo-icon-level-up:before { content: '\21b0'; } /* '↰' */
.entypo-icon-shuffle:before { content: '🔀'; } /* '\1f500' */
.entypo-icon-loop:before { content: '🔁'; } /* '\1f501' */
.entypo-icon-switch:before { content: '\21c6'; } /* '⇆' */
.entypo-icon-play:before { content: '\25b6'; } /* '▶' */
.entypo-icon-stop:before { content: '\25a0'; } /* '■' */
.entypo-icon-pause:before { content: '\2389'; } /* '⎉' */
.entypo-icon-record:before { content: '\26ab'; } /* '⚫' */
.entypo-icon-to-end:before { content: '\23ed'; } /* '⏭' */
.entypo-icon-to-start:before { content: '\23ee'; } /* '⏮' */
.entypo-icon-fast-forward:before { content: '\23e9'; } /* '⏩' */
.entypo-icon-fast-backward:before { content: '\23ea'; } /* '⏪' */
.entypo-icon-progress-0:before { content: '\e768'; } /* '' */
.entypo-icon-progress-1:before { content: '\e769'; } /* '' */
.entypo-icon-progress-2:before { content: '\e76a'; } /* '' */
.entypo-icon-progress-3:before { content: '\e76b'; } /* '' */
.entypo-icon-target:before { content: '🎯'; } /* '\1f3af' */
.entypo-icon-palette:before { content: '🎨'; } /* '\1f3a8' */
.entypo-icon-list:before { content: '\e005'; } /* '' */
.entypo-icon-list-add:before { content: '\e003'; } /* '' */
.entypo-icon-signal:before { content: '📶'; } /* '\1f4f6' */
.entypo-icon-trophy:before { content: '🏆'; } /* '\1f3c6' */
.entypo-icon-battery:before { content: '🔋'; } /* '\1f50b' */
.entypo-icon-back-in-time:before { content: '\e771'; } /* '' */
.entypo-icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.entypo-icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.entypo-icon-network:before { content: '\e776'; } /* '' */
.entypo-icon-cd:before { content: '💿'; } /* '\1f4bf' */
.entypo-icon-inbox:before { content: '\e777'; } /* '' */
.entypo-icon-install:before { content: '\e778'; } /* '' */
.entypo-icon-globe:before { content: '🌎'; } /* '\1f30e' */
.entypo-icon-cloud:before { content: '\2601'; } /* '☁' */
.entypo-icon-cloud-thunder:before { content: '\26c8'; } /* '⛈' */
.entypo-icon-flash:before { content: '\26a1'; } /* '⚡' */
.entypo-icon-moon:before { content: '\263d'; } /* '☽' */
.entypo-icon-flight:before { content: '\2708'; } /* '✈' */
.entypo-icon-paper-plane:before { content: '\e79b'; } /* '' */
.entypo-icon-leaf:before { content: '🍂'; } /* '\1f342' */
.entypo-icon-lifebuoy:before { content: '\e788'; } /* '' */
.entypo-icon-mouse:before { content: '\e789'; } /* '' */
.entypo-icon-briefcase:before { content: '💼'; } /* '\1f4bc' */
.entypo-icon-suitcase:before { content: '\e78e'; } /* '' */
.entypo-icon-dot:before { content: '\e78b'; } /* '' */
.entypo-icon-dot-2:before { content: '\e78c'; } /* '' */
.entypo-icon-dot-3:before { content: '\e78d'; } /* '' */
.entypo-icon-brush:before { content: '\e79a'; } /* '' */
.entypo-icon-magnet:before { content: '\e7a1'; } /* '' */
.entypo-icon-infinity:before { content: '\221e'; } /* '∞' */
.entypo-icon-erase:before { content: '\232b'; } /* '⌫' */
.entypo-icon-chart-pie:before { content: '\e751'; } /* '' */
.entypo-icon-chart-line:before { content: '📈'; } /* '\1f4c8' */
.entypo-icon-chart-bar:before { content: '📊'; } /* '\1f4ca' */
.entypo-icon-chart-area:before { content: '🔾'; } /* '\1f53e' */
.entypo-icon-tape:before { content: '\2707'; } /* '✇' */
.entypo-icon-graduation-cap:before { content: '🎓'; } /* '\1f393' */
.entypo-icon-language:before { content: '\e752'; } /* '' */
.entypo-icon-ticket:before { content: '🎫'; } /* '\1f3ab' */
.entypo-icon-water:before { content: '💦'; } /* '\1f4a6' */
.entypo-icon-droplet:before { content: '💧'; } /* '\1f4a7' */
.entypo-icon-air:before { content: '\e753'; } /* '' */
.entypo-icon-credit-card:before { content: '💳'; } /* '\1f4b3' */
.entypo-icon-floppy:before { content: '💾'; } /* '\1f4be' */
.entypo-icon-clipboard:before { content: '📋'; } /* '\1f4cb' */
.entypo-icon-megaphone:before { content: '📣'; } /* '\1f4e3' */
.entypo-icon-database:before { content: '\e754'; } /* '' */
.entypo-icon-drive:before { content: '\e755'; } /* '' */
.entypo-icon-bucket:before { content: '\e756'; } /* '' */
.entypo-icon-thermometer:before { content: '\e757'; } /* '' */
.entypo-icon-key:before { content: '🔑'; } /* '\1f511' */
.entypo-icon-flow-cascade:before { content: '\e790'; } /* '' */
.entypo-icon-flow-branch:before { content: '\e791'; } /* '' */
.entypo-icon-flow-tree:before { content: '\e792'; } /* '' */
.entypo-icon-flow-line:before { content: '\e793'; } /* '' */
.entypo-icon-flow-parallel:before { content: '\e794'; } /* '' */
.entypo-icon-rocket:before { content: '🚀'; } /* '\1f680' */
.entypo-icon-gauge:before { content: '\e7a2'; } /* '' */
.entypo-icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.entypo-icon-cc:before { content: '\e7a5'; } /* '' */
.entypo-icon-cc-by:before { content: '\e7a6'; } /* '' */
.entypo-icon-cc-nc:before { content: '\e7a7'; } /* '' */
.entypo-icon-cc-nc-eu:before { content: '\e7a8'; } /* '' */
.entypo-icon-cc-nc-jp:before { content: '\e7a9'; } /* '' */
.entypo-icon-cc-sa:before { content: '\e7aa'; } /* '' */
.entypo-icon-cc-nd:before { content: '\e7ab'; } /* '' */
.entypo-icon-cc-pd:before { content: '\e7ac'; } /* '' */
.entypo-icon-cc-zero:before { content: '\e7ad'; } /* '' */
.entypo-icon-cc-share:before { content: '\e7ae'; } /* '' */
.entypo-icon-cc-remix:before { content: '\e7af'; } /* '' */
.entypo-icon-github:before { content: '\f300'; } /* '' */
.entypo-icon-github-circled:before { content: '\f301'; } /* '' */
.entypo-icon-flickr:before { content: '\f303'; } /* '' */
.entypo-icon-flickr-circled:before { content: '\f304'; } /* '' */
.entypo-icon-vimeo:before { content: '\f306'; } /* '' */
.entypo-icon-vimeo-circled:before { content: '\f307'; } /* '' */
.entypo-icon-twitter:before { content: '\f309'; } /* '' */
.entypo-icon-twitter-circled:before { content: '\f30a'; } /* '' */
.entypo-icon-facebook:before { content: '\f30c'; } /* '' */
.entypo-icon-facebook-circled:before { content: '\f30d'; } /* '' */
.entypo-icon-facebook-squared:before { content: '\f30e'; } /* '' */
.entypo-icon-gplus:before { content: '\f30f'; } /* '' */
.entypo-icon-gplus-circled:before { content: '\f310'; } /* '' */
.entypo-icon-pinterest:before { content: '\f312'; } /* '' */
.entypo-icon-pinterest-circled:before { content: '\f313'; } /* '' */
.entypo-icon-tumblr:before { content: '\f315'; } /* '' */
.entypo-icon-tumblr-circled:before { content: '\f316'; } /* '' */
.entypo-icon-linkedin:before { content: '\f318'; } /* '' */
.entypo-icon-linkedin-circled:before { content: '\f319'; } /* '' */
.entypo-icon-dribbble:before { content: '\f31b'; } /* '' */
.entypo-icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.entypo-icon-stumbleupon:before { content: '\f31e'; } /* '' */
.entypo-icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.entypo-icon-lastfm:before { content: '\f321'; } /* '' */
.entypo-icon-lastfm-circled:before { content: '\f322'; } /* '' */
.entypo-icon-rdio:before { content: '\f324'; } /* '' */
.entypo-icon-rdio-circled:before { content: '\f325'; } /* '' */
.entypo-icon-spotify:before { content: '\f327'; } /* '' */
.entypo-icon-spotify-circled:before { content: '\f328'; } /* '' */
.entypo-icon-qq:before { content: '\f32a'; } /* '' */
.entypo-icon-instagrem:before { content: '\f32d'; } /* '' */
.entypo-icon-dropbox:before { content: '\f330'; } /* '' */
.entypo-icon-evernote:before { content: '\f333'; } /* '' */
.entypo-icon-flattr:before { content: '\f336'; } /* '' */
.entypo-icon-skype:before { content: '\f339'; } /* '' */
.entypo-icon-skype-circled:before { content: '\f33a'; } /* '' */
.entypo-icon-renren:before { content: '\f33c'; } /* '' */
.entypo-icon-sina-weibo:before { content: '\f33f'; } /* '' */
.entypo-icon-paypal:before { content: '\f342'; } /* '' */
.entypo-icon-picasa:before { content: '\f345'; } /* '' */
.entypo-icon-soundcloud:before { content: '\f348'; } /* '' */
.entypo-icon-mixi:before { content: '\f34b'; } /* '' */
.entypo-icon-behance:before { content: '\f34e'; } /* '' */
.entypo-icon-google-circles:before { content: '\f351'; } /* '' */
.entypo-icon-vkontakte:before { content: '\f354'; } /* '' */
.entypo-icon-smashing:before { content: '\f357'; } /* '' */
.entypo-icon-sweden:before { content: '\f601'; } /* '' */
.entypo-icon-db-shape:before { content: '\f600'; } /* '' */
.entypo-icon-logo-db:before { content: '\f603'; } /* '' */